.header {
  background: black;
  color: white;
  height: 50px;
}

img {
  height: 50px;
  width: 100px;
}

.headingContainer {
  display: flex;
}
.headingContent {
  align-self: center;
  font-size: 20px;
}
